name: Go SDK CI

on:
  push:
    branches:
      - master
      - dev
    tags:
      - 'v*.*.*'

jobs:
  lint-and-test:
    name: Lint and Test
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Set up Go
        uses: actions/setup-go@v4
        with:
          go-version: '1.25.3'

      - name: Go Vet
        run: go vet ./...

#      - name: Test
#        run: go test -v ./...

  release:
    name: Create Release
    if: startsWith(github.ref, 'refs/tags/')
    needs: lint-and-test
    runs-on: ubuntu-latest
    permissions:
      contents: write
    steps:
      - name: Create Release
        uses: softprops/action-gh-release@v1
        with:
          draft: false
          prerelease: false
